table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.summary {
  &__cell {
    @apply text-left px-6 py-4 flex-1 rounded-md bg-opacity-60 relative shadow-md;
  }
  &__icon {
    @apply absolute right-0 top-0 p-2;
  }
  &__icon--succeed {
    @apply text-green-700 text-opacity-10;
  }
  &__icon--failed {
    @apply text-red-700 text-opacity-10;
  }
  &__icon--suspicious {
    @apply text-yellow-700 text-opacity-10;
  }
  &__cell:hover > &__icon,
  &__cell--active > &__icon {
    @apply text-opacity-90;
  }
  &__cell + &__cell {
    @apply ml-4;
  }
  &__count {
    @apply text-3xl;
  }
  &__title {
    @apply text-xs text-gray-600;
  }
}
