<div *ngIf="agg as agg" class="agg-data">
  <div class="flex">
    <div>
      <ul class="agg-data__labels">
        <li class="agg-data__feature-name" *ngFor="let name of agg.features">
          {{ name }}
        </li>
      </ul>
    </div>
    <profiler-column
      class="column"
      [column]="column"
      [features]="agg.features"
      *ngFor="let column of agg?.batches"
      (click)="onColumnClick(column)"
      [ngClass]="{
        'column--active': (selectedBatchName | async) === column.batch_name
      }"
    >
    </profiler-column>
  </div>
</div>
